*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Fredoka One', cursive;
}
.container{
  width: 90%;
  margin: auto;
}
.mini-container{
  width: 70%;
  margin: auto;
}
body p{
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
}
a{
  text-decoration: none;
  color: inherit;
}
a.btn{
  padding: 23px 45px;
  font-size: 14px;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 20px 0px;
}
a.btn.yellow{
  color: #FFFFFFCC;
  background-color: #E9D758;
  transition: background-color 0.5s linear, color 0.5s linear;
}
a.btn.yellow:hover{
  color: #E56768;
  background-color: #FFFFFF;
}
a.btn.white{
  color: #E56768;
  background-color: #FFFFFF;
  transition: background-color 0.5s linear, color 0.5s linear;
}
a.btn.white:hover{
  color: #FFFFFFCC;
  background-color: #E9D758;
}
a.btn.red{
  color: #FFFFFF;
  background-color: #E56768;
  transition: background-color 0.5s linear, color 0.5s linear;
}
a.btn.red:hover{
  color: #FFFFFFCC;
  background-color: #E9D758;
}
/* fine regole generali */
/* inizio header */
header{
  height: 750px;
  width: 100%;
  background-size: cover;
}
/* inizio layer */
header .layer{
  height: 100%;
  width: 100%;
  background-color: #DA5F60E6;
  position: relative;
}
/* inizio menu */
header .layer nav{
  height: 100px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
/* logo */
header .layer nav .logo-header img{
  height: 50px;
}
/* fine logo */
header .layer nav ul{
  height: 100px;
  line-height: 100px;
}
header .layer nav ul li{
  position: relative;
}
header .layer nav ul li a{
  color: #FFFFFF;
  margin-right: 20px;
  font-size: 16px;
}
header .layer nav ul li a:hover{
  color: #E9D758;
}
header .layer nav ul li:first-child a{
  color: #E9D758;
}
header .layer nav .small-menu{
  background-color: #FFFFFF;
  display: none;
  margin-right: 20px;
  border-radius: 10px;
}
header .layer nav .small-menu a i{
  color: #3D404F;
  padding: 10px;
}
/* inizio responsive header */
@media (max-width: 1199.98px) {
  header .layer nav ul{
    display: none;
  }
  header .layer nav .logo-header{
    margin-left: 20px;
  }
  header .layer nav{
    width: 100%;
    background-color: #3D404F;
  }
  header .layer nav .small-menu{
    display: block;
  }
}
/* fine responsive header */
/* menu-box */
header .layer nav ul li .menu-box{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  border-radius: 15px;
  background-color:  #FFFFFF;
}
header .layer nav ul li .menu-box.active{
  display: flex;
}
header .layer nav ul li .menu-box a{
  line-height: 0;
  padding: 30px 0;
  color: #3D404F;
  font-size: 15px;
}
/* fine menu box */
/* jumbotron */
header .layer .jumbotron{
  height: 100%;
  text-align: center;
  margin-top: 80px;
}
header .layer .jumbotron h1{
  color: #FFFFFF;
  font-size: 50px;
  padding: 20px 0;
}
header .layer .jumbotron p{
  color: #FFFFFF;
  font-size: 18px;
  padding: 20px 0;
}
header .layer .jumbotron .btns{
  margin: 40px 0;
}
header .layer .jumbotron .btns a{
  margin-right: 20px;
}
header .layer .jumbotron .btns a i{
  margin-right: 10px;
}
/* fine jumbotron */
/* img bg */
header .layer .img-bg img{
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
}
/* fine img bg */
/* left box */
header .layer .left-box{
  height: 100px;
  width: 40px;
  border-radius: 0 5px 5px 0;
  background-color:  #E9D758;
  box-shadow: 0 0 3px #ccc;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: width 0.2s linear;
  z-index: 2;
}
header .layer .left-box:hover{
  width: 50px;
}
header .layer .left-box i{
  color: #FFFFFF;
}
/* fine left box */
/* fine menu */
/* fine layer */
/* fine header */
/* inizio main */
/* inizio sezione browse */
#browse{
  height: 600px;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  z-index: -2
}
/* sfondo */
#browse .bg-img-right{
  height: 600px;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: -1;
}
#browse .mini-container{
  position: relative;
}
#browse .mini-container .bg-img-left img{
  height: 60px;
  width: 60px;
  position: absolute;
  top: 100px;
  left: 0;
}
/* fine sfondo */
#browse .mini-container .content{
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#browse .mini-container .content .text{
  width: 60%;
}
#browse .mini-container .content .text h2{
  font-size: 48px;
  color: #3D404F;
}
#browse .mini-container .content .text p{
  padding: 40px 0 60px 0;
  font-size: 16px;
  color: #3D404F;
}
#browse .mini-container .content .image{
  width: 40%;
}
#browse .mini-container .content .image img{
  height: 350px;
  z-index: 1;
}
/* responsive browse */
@media (max-width: 1199.98px) {
  #browse .mini-container .content .image img{
    display: none;
  }
}
/* fine responsive browse */
/* fine sezione browse */
/* inizio sezione faculties */
#faculties{
  padding: 150px 0;
  position: relative;
}
#faculties .img-bg img{
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -1;
}
#faculties h2{
  font-size: 48px;
  color: #3D404F;
  text-align: center;
}
#faculties p{
  padding: 40px 0 60px 0;
  font-size: 16px;
  color: #3D404F;
  text-align: center;
}
#faculties .images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
#faculties .images .img{
  height: 200px;
  width: 240px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 3px #ccc;
  position: relative;
}
#faculties .images .img.active{
  background-color: #E9D758;
}
#faculties .images .img img{
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#faculties .images .img i{
  color: #E9D758;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
#faculties .content{
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#faculties .content .text{
  width: 50%;
  text-align: left;
}
#faculties .content .text h2{
  font-size: 48px;
  color: #3D404F;
  text-align: left;
}
#faculties .content .text p{
  padding: 40px 0 60px 0;
  font-size: 16px;
  color: #3D404F;
  text-align: left;
}
#faculties .content .image{
  width: 40%;
}
#faculties .content .image img{
  height: 350px;
}
/* fine sezione faculties */
/* inizio sezione year */
#year{
  background-color: #E56768;
  padding: 150px 0;
  text-align: center;
}
#year .clock-img img{
  height: 65px;
}
#year h2{
  font-size: 48px;
  font-weight: 400;
  padding: 40px 0 80px 0;
  color: #FFFFFF;
}
#year .row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#year .row .text{
  width: 400px;
}
#year .row .text:last-child{
  margin-left: 60px;
  margin-right: 220px;
}
#year .row.first .text{
  margin-left: 240px;
}
#year .row.first .text:last-child{
  margin-right: 0;
  margin-left: 60px;
}
#year .row h3{
  font-size: 18px;
  font-weight: 400;
  padding: 20px 0;
  color: #FFFFFF;
}
#year .row p{
  font-size: 16px;
  color: #FFFFFF;
  padding-bottom: 30px;
}
/* inizio responsive year */
@media (max-width: 1199.98px) {
  #year .timeline{
    display: none;
  }
  #year .row .text:last-child{
    margin-left: 0;
    margin-right: 0;
  }
  #year .row.first .text{
    margin-left: 0;
  }
  #year .row.first .text:last-child{
    margin-right: 0;
    margin-left: 0;
  }
}
/* fine responsive year */
/* fine sezione year */
/* inizio sezione events */
#events{
  background-color: #E56768;
  padding-bottom: 150px;
  text-align: center;
  position: relative;
}
#events .calendar-img img{
  height: 65px;
}
#events h2{
  font-size: 48px;
  font-weight: 400;
  padding: 40px 0 80px 0;
  color: #FFFFFF;
}
#events .row{
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#events .row .event{
  background-color: #FFFFFF;
  width: 360px;
  height: 210px;
  padding: 20px 20px 40px 20px;
  border-radius: 15px;
  margin-right: 20px;
  position: relative;
}
#events .row .event h3{
  padding: 10px 0;
  font-size: 22px;
  font-weight: 400;
  color: #3D404F;
}
#events .row .event p{
  font-size: 16px;
  color: #3D404F;
}
#events .row .event p:first-child{
  font-size: 14px;
  color: #3D404F;
}
#events .row .event a{
  width: 180px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
/* responsive events */
@media (max-width: 1199.98px) {
  #events .row{
    flex-direction: column;
  }
  #events .row .event{
    width: 950px;
    margin-top: 60px;
  }
}
/* fine responsive events */
/* fine sezione events */
/* inizio sezione latest */
#latest{
  background-color: #FFFFFF;
  padding: 150px 0;
  text-align: left;
  position: relative;
}
#latest .img-bg img{
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
}
#latest .mini-container h2{
  font-size: 48px;
  font-weight: 400;
  padding: 40px 0;
  color: #3D404F;
}
#latest .mini-container .row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#latest .mini-container .row .course{
  height: 280px;
  width: 320px;
  text-align: center;
  margin-right: 20px;
  padding: 20px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 3px #ccc;
}
#latest .mini-container .row .course .course-img img{
  height: 70px;
}
#latest .mini-container .row .course h3{
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0;
  color: #3D404F;
}
#latest .mini-container .row .course p{
  margin-bottom: 10px;
  font-size: 14px;
  color: #3D404F;
}
#latest .mini-container .row .course p i{
  margin-right: 10px;
}
#latest .mini-container .row .course p span{
  font-weight: 600;
}
#latest .mini-container .row .course a{
  width: 200px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
/* responsive latest */
@media (max-width: 1199.98px) {
  #latest .mini-container .row{
    flex-direction: column;
  }
  #latest .mini-container .row .course{
    width: 950px;
    margin-top: 60px;
  }
}
/* fine responsive latest */
/* fine sezione latest */
/* inizio sezione method */
#method{
  height: 600px;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  z-index: -2
}
#method .mini-container{
  position: relative;
}
#method .mini-container .bg-img-left img{
  height: 60px;
  width: 60px;
  position: absolute;
  top: 100px;
  left: 0;
}
#method .mini-container .bg-img-right img{
  height: 60px;
  width: 60px;
  position: absolute;
  top: 100px;
  left: calc(50% - 60px);
}
/* fine sfondo */
#method .mini-container .content{
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#method .mini-container .content .text{
  width: 60%;
}
#method .mini-container .content .text h2{
  font-size: 48px;
  color: #3D404F;
}
#method .mini-container .content .text p{
  padding: 40px 0 60px 0;
  font-size: 16px;
  color: #3D404F;
}
#method .mini-container .content .image{
  width: 50%;
}
#method .mini-container .content .image img{
  height: 350px;
  z-index: 1;
}
/* responsive method */
@media (max-width: 1199.98px) {
  #method .mini-container .content .image img{
    display: none;
  }
}
/* fine responsive method */
/* fine sezione method */
/* fine main */
